$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/select2/src/scss/core.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


$vermelho: #921f1f;


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  -webkit-transition: all .5 ease;
  -moz-transition: all .5 ease;
  -ms-transition: all .5 ease;
  -o-transition: all .5 ease;
  transition: all .5 ease;
}

/* for IE and Edge */

select::-ms-expand { display: none; }
select:disabled::-ms-expand { background: #f60; }



html, body {
  height:100%;
  background: #edeae0;
  font-family: 'Open Sans', sans-serif;
}

a {
  &:hover {
    text-decoration: none !important;
  }
  &:active {
    text-decoration: none !important;
  }
  &:focus {
    text-decoration: none !important;
  }
  &:visited {
    text-decoration: none !important;
  }
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: none;
  outline: 0 none;
}


// ABERTURA

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}
.video-foreground,  .video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#vidtop-content {
  top: 0;
  color: #fff;
}
.vid-info {
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  color: #fff;
  padding: 1rem;


  .open-content {
    text-align: center;

    img {
      width: 400px;
    }

    p {
      font-size: 20pt;
      margin: 20px 0;
      font-weight: 600;
    }

    .escolha {
      li {
        display: inline-block;
        min-width: 233px;
        background: url("../images/home-escolha.svg");
        background-repeat: no-repeat;
        background-size: 233px;
        margin-right: 20px;

        a {
          color: #fff;
          padding: 15px;
          display: block;
          font-size: 18px;
          text-transform: uppercase;
        }

        &:hover {
          background: url("../images/home-escolha-hover.svg");
          background-repeat: no-repeat;
        }
      }
    }

  }

}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
  .vid-info {
    width: 100%;
    top: 5%;
  }

}
@media all and (max-width: 780px) {
  .vid-info .acronym {
    display: none;
  }

  .vid-info {
    padding: 15px;

    .open-content {

      img {
        width: 200px;
      }

      p {
        font-size: 14pt;
      }

      ul {
        margin-left: -20px;

        li {
          margin-bottom: 15px;
        }
      }

    }
  }

}


// ICONS GERAIS

.ico-book {
  background: url("../images/animaicons/livro.svg") no-repeat center bottom;
}

.ico-doc {
  background: url("../images/animaicons/documento.svg") no-repeat center bottom;
}

.ico-folder {
  background: url("../images/animaicons/banco.svg") no-repeat center bottom;
}

.ico-map {
  background: url("../images/animaicons/mapa.svg") no-repeat center bottom;
}

.ico-video {
  background: url("../images/animaicons/video.svg") no-repeat center bottom;
}



.ico-xingu {
  background-position: bottom;
  background-size:30px;
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;

  &:hover {
    background-position-y: -30px;
  }
}

.ico-xingu.active {
  background-position-y: top;
}


.btn-plus {
  display: block;
  width: 100%;
  text-align: center;

  img {
    width: 25px;
  }
}


// INDEX
.button-xingu {
  background: url("../images/btn-xingu.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  padding: 5px 0;
  color: #edeae0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 32px;
  border: 0px solid green;
  display: inline-block;
  min-width: 205px;

  &:hover {
    color: #8e171f;
    background-position: center bottom;
  }
}

.button-xingu-dark {
  background: url("../images/btn-xingu-dark.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 5px 50px;
  color: #edeae0;
  text-transform: uppercase;
  font-size: 16px;
  border: 0px solid green;
  display: inline-block;

  &:hover {
    color: #ede9a6;
  }
}


.header-xingu {
  background: url("../images/header-bg.svg");
  background-position: center bottom;
  background-size: 1350px;
  padding-top: 30px;
  height: 160px;
  z-index: 999;
  position: relative;

  .navbar-xingu {
    background: none;
    position: relative;
    height: auto;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;

    .navbar-collapse {
      border-color: transparent;
    }

    .nav > li > a {
      padding: 10px 10px;
    }

    .navbar-brand {
      padding: 0 15px;


      .header-logo {
        background: url("../images/xingu.svg") no-repeat;
        background-size: 140px;
        text-indent: -6000px;
        height: 45px;
        width: 140px;
        margin: 0;
        margin-top: -3px
      }
    }

    .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
      color: #8e171f;
      background-color: transparent;
      font-weight: 700;
    }

    .navbar-collapse {
      position: relative;
    }

    .xinguform-top {
      position: absolute;
      padding: 0 0px;
      right: 160px;
      top: 38px;


      input {
        border: 0;
        background: url("../images/bg-busca.svg") no-repeat;
        background-size: 100%;
        background-position: left center;
        padding: 5px 5px 5px 15px;
        height: 33px;
        margin-top: -10px;
        width: 100%;
      }
      button {
        border: 0;
        background: transparent;
        position: absolute;
        right: 10px;
        bottom: 5px;

        img {
          width: 15px;
        }
      }
    }

  }
}

.home-banner {
    background: url("../images/banner-home.png");
    background-size: cover;
    height: 385px;
    background-attachment: fixed;
    position: relative;
    background-position: center top;
    margin-top: -60px;
    text-align: center;

    h2 {
      color: #edeae0;
      font-size: 38pt;
      padding-top: 150px;

      img {
        width: 200px;
        margin-top: -10px;
      }
    }
}

.divider-arrow-bottom {
  background: url("../images/divider-arrow-bottom.png");
  background-position: center center;
  height: 50px;
  border: 0 solid black;
  margin-top: -50px;
  z-index: 3;
  position: relative;
}

.divider-arrow-top {
  background: url("../images/divider-arrow-top.png");
  background-position: center bottom;
  height: 90px;
  border: 0px solid black;
  z-index: 8;
  position: relative;
  margin-bottom: -70px;
}

.two-columns {
  padding-top: 40px;

  .col-md-6 {

    &:last-child {
      border-right: 1px solid #fff;
    }
  }

  h3 {
    text-align: center;
    font-size: 28pt;
    margin-top: 30px;
    letter-spacing: 1px;
    font-weight: 300;
  }

  .corredor {
    padding: 15px;

    p {
      margin: 0 auto;
      font-size: 13pt;
      line-height: 22px;
      font-weight: 300;
      letter-spacing: -1px;

      strong {
        color: #8e171f;
      }
    }

    .grafico-home {
      text-align: center;

      img {
        width: 100%;
        max-width: 500px;
      }

    }
  }

  .news-home {
    padding: 15px;

    .box-news-home {
      padding: 0 15px 15px;

      h4 {
        font-size: 18pt;
      }

      p {
        font-size: 13pt;
        letter-spacing: -1px;
        font-weight: 300;
      }

      article {
        margin-bottom: 15px;
      }

      img {
        margin-top: 15px;
      }

      .mask-news-home {
        position: relative;
        overflow: hidden;

        .mask {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          z-index: 2;
        }

        .pic {
          position: relative;
        }
      }

    }
  }

}


.banner-fruta {
  background: url("../images/banner-frutas.png");
  background-attachment: fixed;
  background-size: cover;
  height: 415px;
  position: relative;
  background-position: center top;
  color: #edeae0;

  h2 {
    margin-bottom: px;
    font-size: 46px;
    padding-top: 150px;
  }

  p {
    font-size: 25px;
  }


}

.historia-xingu {

  .cont-historia {
    width: 100%;
    max-width: 1170px;
    padding: 15px;
    margin: 0 auto;
    position: relative;

    .historia-img {
      background: url("../images/historia-home.svg") no-repeat;
      background-size: 100%;
      background-position: center center;
      height: 400px;
    }
  }

  h5 {
    font-size: 32pt;
    font-weight: 600;
    display: inline-block;
    position: absolute;
    left: 0;

  }
}

.banner-observatorios {
  background: url("../images/banner-observatorios.png");
  background-attachment: fixed;
  background-size: cover;
  height: 415px;
  position: relative;
  background-position: center top;
  color: #edeae0;

  h2 {
    margin-bottom: px;
    font-size: 46px;
    padding-top: 150px;
  }

  p {
    font-size: 25px;
  }


}

.divider-arrow-bottom-dark {
  background: url("../images/divider-arrow-bottom-dark.png");
  background-position: center center;
  height: 50px;
  border: 0 solid black;
  margin-top: -50px;
  z-index: 3;
  position: relative;
}

.divider-arrow-bottom-red {
  background: url("../images/divider-arrow-bottom-red.png");
  background-position: center center;
  height: 50px;
  border: 0 solid black;
  margin-top: -50px;
  z-index: 3;
  position: relative;
}

.home-more {
  //background: #363937;
  background: $vermelho;
  color: #edeae0;
  padding: 30px 0 60px;

  h2 {
    margin-bottom: px;
    font-size: 46px;
  }

  p {
    font-size: 25px;
  }
}

.home-footer {
  background: url("../images/footer.svg"), #edeae0;
  background-position: center top;
  background-size: 1350px;
  padding: 40px 0;

  .left-footer {
    margin-top: 50px;
    img {
      width: 200px;
    }
    p {
      margin-top: 15px;
    }

    a {
      color: #000;
    }
  }

  .right-footer {
    text-align: right;
    margin-top: 50px;

    ul {
      li {
        display: inline-block;
        margin-left: 15px;

        &:first-child {
          margin-left: 0;
        }

        img {
          width: 30px;
        }
      }
    }
  }

}

.internal-footer {
  background: url("../images/footer-no-bg.svg"), #edeae0;
  background-position: center top;
  background-size: 1350px;
  padding: 40px 0;
}


.internalwhite {
  background: #fff;
  position: relative;
  z-index: 3;
  padding-top: 40px;
}

/*MAIS XINGU*/

.maisxingu-banner-title {
  padding: 60px 0;
  background: url("../images/mais-xingu/textura-mais-xingu-title.svg") repeat-x, #fff;
  background-size: 1350px;
  height: 400px;
  position: relative;
  background-position: center top;
  margin-top: -60px;
  z-index: 10;

  h2 {
    font-size: 50pt;
    color: $vermelho;
    margin-bottom: 0;
    margin-left: 20px;
  }

  h3 {
    font-weight: 300;
    font-size: 20px;
    margin-top: 8px;
    margin-left: 20px;
  }
}

.maisxingu-banner-title.ficha {
  height: 280px;
  background-position: center bottom;
  padding: 60px 0 0 0;
}

.maisxingu-banner-title.coringa {
  height: 280px;
  background-position: center bottom;
  padding: 60px 0 0 0;

  h2 {
   color: #000;
  }
}

.form-mais-xingu {

  .filtro-de-acervos {
    margin: -5px auto 0;
    width: 100%;
    max-width: 1100px;
    text-align: center;
    background: #fff;
    padding: 15px 10px;

    li {
      margin-right: 10px;
      color: #393b3d;

      img {
        margin-right: 5px;
      }
    }
  }

  .search-itens {
    width: 100%;
    display: inline-block;

    div {
      float: left;
    }

    .arrow-left, .arrow-right {
      width: 20px;
    }

    .input-middle {
      width: 100%;
      max-width: 1100px;
      position: relative;

      input {
        border-left: 0;
        border-right: 0;
        height: 40px;
        border-radius: 0;

        &:focus {
          border-color: #ccc;
        }
      }

      .button-lupa {
        position: absolute;
        right: 0;
        top:0;
        background: transparent;
        border: 0;

        img {
          width: 15px;
          margin-top: 12px;
        }
      }
    }

  }


  .btn-acervo-filters {
    display: block;
    font-size: 9pt;
    padding: 5px;
    color: #393b3d;
    text-transform: uppercase;
    margin-top: -30px;

    img {
      width: 28px;
      margin-top: -2px;
    }

  }

  .btn-acervo-filters.active {
    color: $vermelho;
  }
}

.results {

  h4 {
    margin-top: 0;
    font-weight: 300;
    font-size: 18px;

    strong {
      color: $vermelho;
      font-weight: 300;
    }
  }

  .list-alphabet {
    margin-bottom: 0;
    text-align: right;
    margin-top: -9px;

    li {

      padding: 0 ;
      position: relative;
      text-align: center;

      a {
        color: #000;
        display: inline-block;
        width: 15px;
        padding: 10px 0 2px 0;



        &:hover{
          background: url("../images/mais-xingu/bg-list.svg") no-repeat center bottom;
          background-size: 30px 30px;
          color: #fff;
        }
      }

      &:last-child {


        a {
          width: auto;
          padding: 5px 3px 2px;

          &:hover{
            background: $vermelho;
            background-size: auto;
            color: #fff;
          }
        }
      }
    }


  }

  .hr-mais-divider {
    border-top: 1px solid #ebe7dd;
    margin-top: -6px;
  }

}

.toploadmore {
  background: url("../images/toploadmore2.png");
  background-position: center bottom;
  height: 90px;
  border: 0px solid black;
  z-index: 8;
  position: relative;
  margin-bottom: -70px;
}

.loadmore {
  background: url("../images/mais-xingu/textura.svg") center center;
  background-size: 2000px;
  padding-top: 40px;
  height: 200px;

  .loadmorecontent {
    position: relative;
    z-index: 99;

    .button-xingu {
      display: inline-block;
      padding: 8px 25px 15px;
      background-position: top center;

      &:hover {
        background-position: top center;
        color: #fff;
      }
    }
  }

  .loadinganimation {
    width: 100%;
    margin: 50px auto;
  }
}

.item-article {
  position: relative;
  margin-bottom: 50px;

  .picture {
    img {
      border-radius: 15px;
    }
  }

  h1 {
    margin: 0 0 10px;
    font-size: 18pt;
  }

  .hidden-content {
   /* height: 110px;
    overflow: hidden;*/
    margin-bottom: 50px;
  }

  .hidden-text {
    height: 80px;
    overflow: hidden;
    margin-top: 9px;
    margin-bottom: 50px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .picture {

  }

  .hidden-photos {
    display: none;

    .smallpics {
      margin-top: 10px;
      display: inline-block;


      div {
       float: left;
        margin-right: 7.5px;
        margin-bottom: 7px;

        img {
          width: 100%;
        }

        &:nth-child(4n+0) {
          margin-right: 0px;
        }

      }
    }
  }

  .show-content {

    .hidden-photos {
      display: inline-block;
    }

    .hidden-text {
      height: auto;
    }

  }

  .catlist {
    position: absolute;
    bottom: 0;

    li {

      a {
        img {
          width: 28px;
        }

        &:hover {

        }
      }

    }
  }

  .btn-expand {
    position: absolute;
    right: 10px;
    bottom: 0;
    background: url("../images/mais-xingu/expand.svg") no-repeat top center;
    height: 25px;
    width: 25px;
    background-size: 25px;
  }
  .btn-expand.active {
    background: url("../images/mais-xingu/expand.svg") no-repeat bottom center;
    background-size: 25px;
  }

  hr {
    border-top: 1px solid #ebe7dd;
  }

}

// OBSERVATORIOS

.observatorios-banner-interno {
  background: url("../images/observatorios/bg-banner.png");
  background-size: cover;
  height: 325px;
  background-attachment: fixed;
  position: relative;
  background-position: center top;
  margin-top: -60px;
  text-align: center;

  h2 {
    color: #edeae0;
    font-size: 38pt;
    padding-top: 120px;


    img {
      width: 50px;
      margin-top: -10px;
      display: block;
    }
  }
}

.observatorio-bottom-open {
  padding: 60px 0;
  background: url("../images/observatorios/mid-banner-borda.svg") repeat-x center bottom;
  height: 180px;
  position: relative;
  background-position: center top;
  margin-top: -80px;
  z-index: 99;
  font-size: 14pt;
  font-weight: 300;

  .analise-title {
    font-weight: 300;
    font-size: 20pt;
  }

  p {
    margin-top: 20px;
  }

}

.observatorio-bottom-open-analise {
  padding: 43px 0;
  background: url("../images/observatorios/mid-banner-borda.svg");
  height: 120px;
  position: relative;
  background-position: center top;
  margin-top: -80px;
  z-index: 99;
  font-size: 14pt;
  font-weight: 300;

  .analise-title {
    font-weight: 300;
    font-size: 20pt;
  }

  p {
    margin-top: 0;
  }

}

.observatoriocontent {
  background: #fff;
  margin-top: -40px;
  font-weight: 300;
  font-size: 13pt;


  .box-obser {
    padding: 100px 25px;
    min-height: 350px;
    text-align: center;

    h4 {
      font-size: 22pt;
      margin-bottom: 15px;
    }

    .icon-obs {
      height: 80px;
      margin: 0 auto;
      margin-bottom: 20px;
    }


  }

  .box-obser-2 {
    padding: 60px 45px;
    min-height: 350px;
    text-align: justify;
    font-size: 11pt;

    img {
      border-radius: 15px;
    }

    .obser-2-text {
      padding: 0 15px;

      h4 {
        font-size: 120%;
        color: $vermelho;
        margin-bottom: 10px;
        margin-top: 20px;
      }

    }

    .btn-plus {
      text-align: left;
    }




  }

  .col-bege {
    background: #ebe7dd;
  }
}



.internal-ob-footer {
  background: url("../images/footer-ob-bg.svg");
  background-position: center top;
  background-size: 1350px;
  margin-top: -50px;
  padding: 40px 0;
  z-index: 99;
  position: relative;
}

// OBSERVATÓRIOS INTERNA

.page-map {
  background: #fff;
}

.map-sec {
  position: relative;
  max-width: 1350px;
  overflow: hidden;
  margin: -50px auto 0;
  background: #fff;
}

.map-options {
  background: #fff;
  position: absolute;
  width: 300px;
  height: 100%;
  z-index: 8;
  top: 0;
  left: 0;
  padding: 15px;
  border-right: 2px solid #ebe7dd;
  transition: all .4s ease;

  .options-title {
    padding: 0 30px;

    .first-title {
      color: $vermelho;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 300;
    }

    .box-obras-links {
      display: inline-block;
      width: 100%;
    }

    .second-title {
      font-size: 50px;
      font-weight: 400;
      margin-top: -10px;
      margin-bottom: 0;
      line-height: 60px;
      float: left;

    }

    .big {


      .second-title {
        font-size: 30px;
        letter-spacing: -1px;
      }

      .links-obras {
        margin-top: -2px;
      }
    }

    .links-obras {
      //float: right;
      font-size: 10px;
      margin-top: 16px;
      margin-bottom: 5px;
      margin-left: -20px;

      a {
        color: #969798;

        &:hover {
          color: #000;
        }
      }
    }

    .text {
      font-size: 16px;
      font-weight: 300;
      margin-top: -10px;
    }

  }

  .styled-select {
    background: url('../images/observatorios/bg-select-obras.svg') no-repeat;
    background: red;
    height: 29px;
    overflow: hidden;
    width: 100%;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
  }

  .styled-select select {
    background: transparent;
    border: none;
    font-size: 12px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
  }

  .styled-select.slate {
    background: url('../images/observatorios/bg-select-obras.svg') no-repeat;
    height: 34px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
  }

  .styled-select.slate select {
    //border: 1px solid #ccc;
    font-size: 14px;
    height: 34px;
    width: 100%;
    text-align: center;
    padding: 0 0 0 60px;

    &:focus {
      border: 0;
      outline: 0
    }

    &:active {
      border: 0;
      outline: 0
    }

  }

  .btn-up-scroll {
    background: url("../images/map-up.png") no-repeat;
  }

  .btn-down-scroll {
    background: url("../images/map-down.png") no-repeat;
  }

  .btn-up-scroll, .btn-down-scroll {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 7px 12px;
    background-position: center top;

    &:hover {
      background-position: center bottom;
    }
  }

  .box-scroll {
    text-align: center;
    padding: 15px;
    height: 320px;
    margin-bottom: 10px;
    overflow: auto;

    ul {
      list-style: none;
      margin-left: -40px;

      li {
        margin-bottom: 0px;

        a {
          display: inline-block;
          padding: 10px 55px;
          background-position: top center;
          color: #000;
          text-transform: uppercase;

          &:hover {
            color: #fff;
            background: url("../images/bg-btn-maps.png") no-repeat center center;
          }
        }
      }
    }
  }

}

.map-options.active {
  left: 0;
}

.btn-expand-filter {
  position: absolute;
  top: 8%;
  background: $vermelho;
  padding: 10px;
  right: -36px;
  color: #fff;
  transition: right .5s ease;

  &:hover {
    color: #fff;
  }
}

.btn-expand-filter.active {
  right: -280px;
}

.map-filters {
  background: #ebe7dc;
  position: absolute;
  width: 280px;
  height: 100%;
  z-index: 7;
  top: 0;
  left: 0px;
  transition: left .5s ease;
  padding: 50px 15px 0;
  border-right: 2px solid #efd7ae;
}

.map-filters.active {
  left: 350px;
}

.map-legendas {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 7;
  width: 65px;


  img {
    width: 100%;
    margin-top: -20px;
  }
}

.links-map {
  ul {
    list-style: none;
  }

  a {
    color: $vermelho;
    font-size: 13px;
    text-decoration: underline;

    &:hover {
      text-decoration: underline !important;
    }
  }
}


.observatorio-interna-bottom-open {
  padding: 60px 0 30px;
  background: url("../images/observatorios/mid-banner-interna.svg");
  background-repeat: repeat-x;
  background-size: 1350px;
  height: 300px;
  position: relative;
  background-position: center top;
  margin-top: -80px;
  z-index: 99;
  font-size: 13pt;
  font-weight: 300;

  h2 {
    font-size: 40pt;
    /*margin-left: 25px;*/

    img {
      width: 40px;
      margin-top: -19px;
      margin-left: 13px;
    }
  }

  p {
    font-size: 20px;
  }

  .btn-down {
    width: 90px;
    margin: -36px auto 0;
  }


}

.obser-interna-content {
  background: #fff;
  padding: 80px 0;
  margin-top: -100px;

  .interna-content {

    h4 {
      font-size: 30px;
      color: $vermelho;
    }

    p {
      font-size: 15px;
    }

    hr {
      border-top: 1px solid #ebe7dd;
    }

    .catlist {
      bottom: 0;

      li {

        a {
          img {
            width: 35px;
          }

          &:hover {

          }
        }

      }
    }

    .interna-subcontent {
      padding: 30px;

      h5 {
          font-size: 25px;
          margin-bottom: 20px;
          font-weight: 300;
        
      }

      p {
        font-size: 14px;
      }
    }

  }

  .sidebar-interna {
    position: relative;

    .box-side-topo {
      /*border: 1px solid #ebe7dd;*/
      /*border-radius: 20px 0 0 0;
      padding: 10px 0;*/
      text-align: center;

      .top {
        //display: inline-block;
        font-size: 12px;
        background: #ebe7dd;
        width: 100%;
        height: 54px;
        text-align: center;
        border-radius: 20px 0 0 0;
        padding: 10px;
        color: $vermelho;

        div {
          float: left;
          width: 50%;
          text-align: center;

          p {
            margin-bottom: 0;
          }
        }

      }


      .middle {
        padding: 5px;
        border-left: 1px solid #ebe7dd;
        border-right: 1px solid #ebe7dd;

        .box-blocks {

          .col-xs-7 {
            padding: 0;
          }

          .col-md-6 {
            padding: 5px;
          }


          ul {
            list-style: none;
            margin-left: -40px;
            text-align: right;
            font-size: 8px;
            margin-bottom: 0;

            li {
              text-align: right;
              display: block;
              width: 100%;
              line-height: 14px;
            }


            li.active {
              color: $vermelho;
            }
          }

          ul.left {
            li {
              text-align: left;
            }
          }

          .blocks {
            li {
              border: 2px solid #ebe7dd;

              padding: 5px;
              display: block;
              width: 100%;
            }

            li.active {
              background: $vermelho;
              color: $vermelho;
            }
          }
        }
      }

      .bottom {
        background: $vermelho;
        padding: 10px;
        text-align: left;

        a {
          color: #fff;
          letter-spacing: 2px;
          font-weight: bolder;

          img {
            width: 18px;
            margin-top: -2px;
          }

          span {
            float: right;
            text-decoration: underline;
            letter-spacing: 0px;
            font-weight: normal;
          }
        }

      }
      .bottom.regular {
        background: #ebe7dd;
        color: #3b3c3d;
        font-weight: bolder;
        font-size: 15px;
      }

    }

    .box-side-bottom {
      border-radius: 0 0 50px 50px;
      height: 250px;
      width: 100%;
      overflow: hidden;
      border: 1px solid #ebe7dd;
      position: relative;
      z-index:77;

      .carousel-control.left, .carousel-control.right {
        background-image: none;
        opacity: 1;
      }

      .carousel-control.left {
        bottom: 30px;
        height: 32px;
        top: initial;
        left: 40px;
      }

      .carousel-control.right {
        bottom: 30px;
        height: 32px;
        top: initial;
        right: 40px
      }

      .zoom-btn {
        position: absolute;
        display: inline-block;
        z-index: 5;
        bottom: 35px;
        right: 45%;
      }

    }
    .box-side-bottom.pg-parceiros {
      border-radius: 15px;
    }


    .menu-lateral-obras {
      padding: 15px 0;

      ul {
        list-style: none;
        margin-left: -40px;

        li {
          line-height: 40px;


          a {
            color: #393b3d ;

            display: block;
            line-height: 33px;
            padding: 0 50px;
            text-transform: uppercase;

            &:hover {
              background: url("../images/obras/bg-menu-lateral.png") no-repeat;
              background-position: center bottom;
            }


          }

          .active {
            background: url("../images/obras/bg-menu-lateral.png") no-repeat;
            background-position: center top;
            color: #fff;

            &:hover {
              background: url("../images/obras/bg-menu-lateral.png") no-repeat;
              background-position: center top;
            }
          }
        }
      }
    }



  }

}


// OBRAS E INTERNAS

.mobilecurrent {
  padding: 22px 0 8px;
  background: #fff;
  position: relative;
  z-index: 99;
  text-align: center;
  margin-top: -15px;
  border-bottom: 1px solid #969798;

  h3 {
    color: $vermelho;
    font-size: 25pt;
    margin: 0;
    padding: 0;
  }

  .prev, .next {
    font-size: 10px;

    a {
      display: inline-block;
      color: #969798;
      text-transform: uppercase;
      margin-top: 12px;

      img {
        width: 7px;
        margin-top: -2px;
      }
    }
  }

  .prev {
    float: left;
  }

  .next {
    float: right;
  }

}



.mobilebuttons {
  background: #fff;
  border-top: 1px solid #969798;
  border-bottom: 1px solid #969798;
  padding: 0 0 15px;
  z-index: 889;
  position: relative;

}

.mobile-menu-filter-buttons {
  display: flex;
  margin-bottom: 0;

  li {
    width: 20%;
    text-align: center;
    padding: 0;
  }
}

.mbfiltros {
  background: url("../images/mobilemenu/filtros.svg");
  background-position: center bottom;
  background-size: 100%;
}

.mbobras {
  background: url("../images/mobilemenu/obras.svg");
  background-position: center bottom;
  background-size: 100%;
}

.mbacompanhe {
  background: url("../images/mobilemenu/acompanhe.svg");
  background-position: center bottom;
  background-size: 100%;
}

.mbalerte {
  background: url("../images/mobilemenu/alerte.svg");
  background-position: center bottom;
  background-size: 100%;
}

.mbmais {
  background: url("../images/mobilemenu/mais.svg");
  background-position: center bottom;
  background-size: 100%;
}

.btn-mobile-button {
  width: 100%;
  height: 75px;
  //background: transparent;
  background-repeat: no-repeat;
  border: 0;
  transition: all .3s ease;
}

.btn-mobile-button.active {
  color: $vermelho;
  background-position: center top;

  img {
    fill: $vermelho;
  }
}


//  HISTÓRIA

.open-historia {
  //background : #393b3d;
  background : url("../images/historia/bg-history.png")repeat-x center center ;
  color: #fff;
  padding: 40px 0;
  margin-top: -43px;
  position: relative;
  z-index: 8;

  h1 {
    font-size: 33pt;
    font-weight: 300;
  }
}

.btn-up-scroll-date {
  background: url("../images/historia/btn-up.svg") no-repeat center center;
  width: 20px;
  height: 15px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 15px;
}
.btn-down-scroll-date {
  background: url("../images/historia/btn-down.svg") no-repeat center center;
  width: 20px;
  height: 15px;
  display: inline-block;
  margin-left: 15px;
}

.content-historia {
  background: #fff;
  margin-top: -40px;

  .container-fluid {
    padding-left: 15px;
    padding-right: 0;
  }

  aside {
    width: 20%;
    float: left;
    height: 100%;
    //padding: 35px 0;
    //text-align: center;
  }

  .content-side {
    width: 80%;
    float: left;
    border-left: 1px solid #9fa0a1;

  }

  .timeline {
    background: #fff;
    //padding: 35px 10px;
    height: 100%;
    max-height: 450px;
    //max-height: 330px;
    overflow: auto;
    text-align: left;
    margin: 0 0 15px;


    .itens-hist {
      list-style: none;
      margin-left: -40px;
    }


  }

  .timesec {
    border-left: 0px solid #9fa0a1;
    padding: 10px 0;
    color: #808283;

    h3 {
      font-size: 20px;
      &:before {
        content: url("../images/historia/arrow-grey.png");
        margin-right: 5px;
        margin-top: -5px;
      }
    }

    li {
      padding: 2px 0px 2px 15px;

      a {
        display: block;
        color: #808283;
        font-size: 10px;
      }

    }


  }




  .timesec.selected {


    h3 {
      color: #921f1f;
      font-size: 34px;
      margin: 0;
      
      &:before {
        content: url("../images/historia/arrow-title.png");
        margin-right: 5px;
        margin-top: -5px;
      }
    }

    .itens-hist {
      list-style: none;
      margin-left: -40px;

      li {
        padding: 7px 5px 7px 15px;

        a {
          display: block;
          color: #921f1f;
          font-size: 13px;
        }
      }

      .active {
        background: url("../images/historia/bg-item-selected-historia.png") no-repeat center left;

        a {
          color: #ffffff;
        }
      }
    }
  }

}

.mobile-list-historia {
  background: #3a3c3e;
  padding: 50px;
  margin-top: -50px;
  display: none;

}

.content-side {

  .centralize-history {
    margin: 0 auto;
    max-width: 1070px;
    position: relative;
  }

  .banner-history-title {
    background: #ede8dd;
    padding:45px 15px 25px;
    position: relative;



    .sect-title {
      position: absolute;
      left: 30px;

      h2 {
        font-size: 18px;
        color:#393b3d;
      }

      h4 {
        font-size: 38px;
        color: #921f21;
      }
    }

    .ampliar-mapa {
      position: absolute;
      right: 30px;
      top: 0;
      z-index: 88;
      float: right;
    }
  }



  .banner-history-foto {
    background: url("../images/historia/bg-foto-2.png") no-repeat center center / cover;
    height: 303px;
    margin-top: -33px;
  }


  .banner-history-frase {
    background: url("../images/historia/bg-faixa-vermelha.png") repeat-x center center;
    color: #fff;
    padding: 50px;
    width: 100%;
    font-size: 22px;
    text-align: center;
    height: 255px;
    font-weight: 300;
    margin-top: -33px;
    position: relative;

    h2 {
      font-size: 250%;
    }
  }

  .history-content-decada {
    padding: 30px;
    margin-bottom: 20px;

    h3 {
      color: #921f1f;

      span {
        color: #393b3d;
      }
    }
  }

  .history-photos {
    margin-top: 25px;

    img {
      border-radius: 4px;
    }
  }

  // atualização 13/10

  .content-timeline-selected {
    width: 90%;
    margin: 20px auto;

    img {
      border-radius: 15px;
    }

    .text {
      margin-top: 20px;

      h4 {
        font-size: 150%;
      }
    }

    hr {
      border-top-color: #ebe7dd;
    }

  }

}

// CORREDOR

.corredor-banner {
  background: url("../images/banner-observatorios.png");
  background-size: cover;
  height: 385px;
  background-attachment: fixed;
  position: relative;
  background-position: center top;
  margin-top: -60px;
  text-align: center;
  color: #ffffff;

  h2 {
    font-size: 37pt;
    padding-top: 150px;

  }

  p {
    font-size: 24px;
  }
}

.divider-arrow-bottom-white-cooredor {
  background: url("../images/divider-arrow-bottom-white.png");
  background-position: center center;
  height: 50px;
  border: 0 solid black;
  margin-top: -50px;
  z-index: 3;
  position: relative;
}

.under-corredor-open {
  background: #fff;

  h3 {
    color: #921f1f;
    font-size: 1.5em;
  }

  .text-open-corredor {
    padding: 10px 100px;
    font-size: 1.7rem;
    font-weight: 300;
  }

  .plus-btn {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: inline-block;
    z-index: 888;

    img {
      width: 30px;
    }
  }
}

.divider-arrow-top-map {
  background: url("../images/corredor/divider-arrow-top-map-corredor.png");
  background-position: center bottom;
  height: 90px;
  border: 0px solid black;
  z-index: 8;
  position: relative;
  margin-bottom: -70px;
}

.sec-map2 {

  .corredor-scroll-title {
    max-width: 270px;
    padding: 10px;

    text-align: center;
    h2 {
      font-size: 50px;
    }

    p {
      font-size: 20px;
      font-weight: 300;
    }
  }

  .btn-up-scroll {
    background: url("../images/map-up.png") no-repeat center bottom;
  }

  .btn-down-scroll {
    background: url("../images/map-down.png") no-repeat center bottom;
  }

  .btn-up-scroll, .btn-down-scroll {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 7px 12px;
    background-position: center bottom;

    &:hover {
      background-position: center bottom;
    }
  }


  .box-scroll {
    text-align: center;
    padding: 15px;
    height: 265px;
    overflow: hidden;

    ul {
      list-style: none;
      margin-left: -40px;

      li {
        margin-bottom: 0px;

        a {
          display: inline-block;
          padding: 10px 55px;
          background-position: top center;
          color: #000;
          text-transform: uppercase;
          min-width: 200px;

          &:hover {
            color: #000;
            background: url("../images/mapa/bg-btn-maps.png") no-repeat center center;
          }
        }

      }
      li.active a {
        background: url("../images/mapa/bg-btn-maps-active.png") no-repeat center center;
        color: #fff;
      }
    }
  }


  .content-mapa-corredor {
    position: relative;
    display: block;
    width: 290px;
    height: 617px;
    background: url("../images/mapa/mapa.png");
    
    img {
      position: absolute;
    }

  }

  .list-content {
    color: $vermelho;
    margin-top: 40%;

    h5 {
      margin-bottom: 0;
    }

    h2 {
      margin-left: -20px;
      margin-top: 0;
    }

    ul {
      li {
        .bubble {
          border: 1px solid $vermelho;
          border-radius: 100px;
          min-width: 100px;
          min-height: 100px;
          text-align: center;
          padding: 4px 0 0 0px;
          margin-bottom: 10px;

          .number {
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
    }

    p {
      color: #000;
    }
  }



}

.sec-dois-corredor {
  background: #fff;

  h3 {
    color: #921f1f;
    font-size: 1.7em;
  }

  .text-open-corredor {
    padding: 10px 100px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
  }

  .sec-dois-title {
    padding: 10px 30px;
  }

  .box-corredor {
    margin-bottom: 20px;

    h4 {
      padding: 10px 15px 0;
      color: #921f1f;
      font-size: 21px;
    }

    .photo-corredor {
      overflow: hidden;
      border-radius: 20px;
    }

    .text-content {
      padding: 5px 15px 10px;
    }

    .plus-btn {
      position: relative;
      text-align: left;
      margin: 0 auto;
      left: 0;
      right: 0;
      display: inline-block;
      padding: 0 15px;

      img {
        width: 30px;
      }
    }

  }
}

#map2 {
  .map-options {
    background: transparent ;

    .styled-select.slate {
      background: url('../images/mapa/bg-select-mapa.svg') no-repeat;
      height: 34px;
      width: 100%;
      -webkit-appearance:none
    }
  }

}



.bottom-corredor {
  background: #fff;
}

.bottom-content-corredor {
  padding: 0 20px;

  h3 {
    color: #921f1f;
    font-size: 1.7em;
  }

  p {
    font-size: 18px;
    font-weight: 300;
  }
}


// SESSÃO DE LOGOS

.parthnerslogo {
  padding: 80px 0 70px;
  background: url("../images/logos/bg-logos.svg") repeat-x;
  background-position: center top;
  background-size: 1350px;
  margin-top: -50px;
  position: relative;
  z-index: 5;

  h3 {
    color: $vermelho;
  }

  .parthners {

    li {
      margin: 5px;
    }
  }
}

// CORGINGA {


.genenal-article {
  margin-bottom: 20px;

  .general-img {
    img {
      border-radius: 15px;
    }
  }

  .general-title {
    color: $vermelho;
  }

}



/* RESPONSIVO */

@media (max-width: 1200px){

  .header-xingu .navbar-xingu {
    font-size: 13px;
    letter-spacing: 0px;
  }

  .header-xingu .navbar-xingu .nav > li > a {
    padding: 10px 6px;
  }

  .observatorio-bottom-open {
    margin-top: -40px;
    padding: 50px 0;
  }

  .observatoriocontent {
    margin-top: -60px;
  }

  .results h4 {
    font-size: 16px;
  }

  .form-mais-xingu .search-itens .input-middle {
    max-width: 95%;
  }

  .observatoriocontent .box-obser-2 {
    padding: 90px 10px;
  }



  // HISTORIA



  .content-side .banner-history-title {



    .img-central-illustra {
      width: 75%;
    }
  }

  .content-side .banner-history-title .sect-title h4 {
    font-size: 26px;
  }

  .content-historia .timesec.selected h3 {
    font-size: 26px;
  }

  .content-historia aside {
    width: 20%;
  }

  .content-historia .content-side {
    width: 80%;
  }


}



@media (max-width: 1200px){

  .obser-interna-content .sidebar-interna .box-side-bottom {
    height: auto;
  }

  .obser-interna-content .sidebar-interna {

    .menu-lateral-obras ul li a {
      padding: 0 30px;
    }

    .box-side-topo .top {
      font-size: 9px;
      background: #ebe7dd;
      width: 100%;
      height: 34px;
      border-radius: 10px 0 0 0;
      padding: 13px 4px 0;
      color: #921f1f;
    }

    .box-side-topo .bottom {
      font-size: 8;
    }

    .box-side-bottom {


      .carousel-control.left {
        bottom: 0px;
        height: 32px;
        top: initial;
        left: 30px;
      }

      .carousel-control.right {
        bottom: 0px;
        height: 32px;
        top: initial;
        right: 30px
      }

      .zoom-btn {
        position: absolute;
        display: inline-block;
        z-index: 5;
        bottom: 5px;
        right: 43%;
      }

    }
  }

  // obras internas

  .obser-interna-content .sidebar-interna .box-side-topo .bottom a {
    letter-spacing: 0;
    font-size: 13px;

    span {
      font-size: 11px;
    }
  }


}

@media (max-width: 1170px){

  // CORREDOR

  .sec-map2 .list-content {
    margin-top: 0;
    margin-left: 100px;
  }

  .content-mapa-corredor {
    margin-left: 50px;
  }

  .sec-map2 {
    .list-content {
      ul {
        li {
          padding: 5px;
        }
      }
    }
  }


}



@media (max-width: 900px){

  .header-xingu .navbar-xingu .xinguform-top {
    position: relative;
    padding: 0 0px;
    right: 0px;
    top: 0px;
  }



  .header-xingu .navbar-xingu .navbar-brand .header-logo {
    background: url(../images/xingu.svg) no-repeat;
    background-size: 110px;
    text-indent: -6000px;
    height: 45px;
    width: 110px;
    margin: 0;
    margin-top: -3px;
  }


  .form-mais-xingu .search-itens .input-middle {
    max-width: 93%;
  }

  .observatorio-bottom-open {
    p {
      margin-top: 0px;
      font-size: 14px;
    }
  }

  .observatorio-bottom-open-analise {
    margin-top: -100px;
    padding: 20px 0;
    height: 100px;

    .analise-title {
      margin-top: 20px;
    }
  }

  .observatoriocontent{
    margin-top: -100px;

    .box-obser {
      padding: 60px 5px 120px;

      p {
        font-size: 14px;
      }
    }

    .box-obser-2 {
      padding: 110px 5px;
    }
  }

  // historia

  .content-historia {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .content-side .banner-history-title .sect-title {
    text-align: center !important;
    left: 0;

    h4 {
      display: inline-block;
    }
  }

  .content-side .banner-history-title .ampliar-mapa {
    right: 0;

    img {
      &:first-child {
        display: none;
      }
    }
  }

  .content-historia .timesec h3 {
    font-size: 16px;
  }

  .content-historia .timesec.selected h3 {
    font-size: 18px;
  }

  .content-historia .timesec.selected .itens-hist li a {
    font-size: 10px;

  }

  .content-side .banner-history-frase {
    font-size: 18px;
  }

  .content-historia .timeline {
    max-height: 250px;
  }

  // CORREDOR

  .corredor-banner {
    height: 280px;

    h2 {
      font-size: 23pt;
      padding-top: 90px;
    }

    p {
      font-size: 21px;
    }
  }

  .under-corredor-open .text-open-corredor {
    padding: 10px;
  }

  .sec-map2 .list-content h2 {
    margin-left: 0;
    margin-top: 4px;
  }

  .content-mapa-corredor {
    margin: 0 auto;
  }



  .sec-map2 .list-content {
    margin: 0 auto;
  }

  .content-mapa-corredor {
    margin: 0 auto;
  }




}


@media (max-width: 820px){

}

@media (max-width: 780px){

  .header-xingu {
    padding-top: 10px;
    min-height: 110px;
    height: auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 10px;


    .navbar-xingu {


      .navbar-toggle {
        z-index: 999;
      }

      .navbar-brand  {
        width: 100%;
        position: absolute;
        text-align: center;

        .header-logo {
          background-size: 150px;
          width: 150px;
          margin-top: 8px;
          display: inline-block;
        }
      }

      .xinguform-top {
        padding: 10px 15px;

        input {
          padding: 15px 25px;
          height: auto;
          background-position: left center;
        }

        button {
          right: 10%;
          top: -1px;
        }
      }

      .navbar-nav {
        padding-left: 30px;
      }
    }

  }

  .home-banner{
    height: 355px;
  }

  .home-banner h2 {
    padding-top: 130px;
    font-size: 20pt;


    img {
      margin-top: 15px;
    }
  }


  .historia-xingu h5 {
    position: relative;
    font-size: 20pt;
    margin-bottom: 20px;
  }

  .banner-observatorios, .home-more {
    h2 {
      font-size: 25pt;
    }

    p {
      font-size: 14pt;
    }
  }

  .home-footer {
    background-position: center top;
    background-size: 1350px;
    padding-top: 80px;
    text-align: center;

    .right-footer {
      text-align: center;

      ul {
        margin-left: -40px;

        li {

        }
      }
    }
  }

  .news-home {
    text-align: left;

    h3 {
      text-align: left;
    }

  }

  .two-columns {
    padding-top: 0px;

    h3 {
      text-align: left;
      font-size: 25pt;
    }

    .news-home {
      padding: 0px;

      .box-news-home {
        padding: 0px;


        p {
          font-size: 13pt;
          letter-spacing: -1px;
          font-weight: 300;
        }

        article {
          margin-bottom: 15px;
        }

        img {
          margin-top: 15px;
        }

        .col-xs-3 {
          padding-right: 0;
        }

      }
    }

    .corredor {
      padding: 0;

      p {
        text-align: left ;
      }
    }

  }


  .home-more {
    h2, p {

    }
  }

  .home-footer {

  }



  .historia-xingu {
    overflow: hidden;


    .cont-historia {
      padding: 0;

      .historia-img {
        background-size: 1000px;
        height: 300px;
      }
    }

    h5 {


    }

    img {
      width: 1000px !important;
    }
  }

  // MAIS XINGU

  .maisxingu-banner-title {
    padding: 60px 0 0;
    background: url("../images/mais-xingu/textura-mais-xingu-title.svg") no-repeat, #fff;
    background-size: 1350px;
    height: auto;
    position: relative;
    background-position: center top;
    margin-top: -60px;
    z-index: 10;

    h2 {
      font-size: 26px;
    }

    h3 {
      font-size: 14px;
    }
  }

  .form-mais-xingu {

    .filtro-de-acervos {
      margin: 0 auto 0;
      width: 100%;
      text-align: left;
      background: #fff;
      padding: 15px 10px 5px;

      li {
        display: inherit;
        margin-right: 40px;
        line-height: 60px;

        img {
          margin-right: 5px;
        }
      }
    }

    .search-itens {
      width: 100%;
      display: inline-block;

      div {
        float: left;
      }



      .arrow-left, .arrow-right {
        width: 20px;
      }

      .input-middle {
        width: 85%;
        position: relative;

        input {
          border-left: 0;
          border-right: 0;
          height: 40px;
          border-radius: 0;

          &:focus {
            border-color: #ccc;
          }
        }

        .button-lupa {
          position: absolute;
          right: 0;
          top:0;
          background: transparent;
          border: 0;

          img {
            width: 15px;
            margin-top: 12px;
          }
        }
      }

    }


    .btn-acervo-filters {
      display: block;
      font-size: 9pt;
      padding: 5px;
      text-transform: uppercase;
      margin-top: -30px;

      img {
        width: 28px;
        margin-top: -2px;
      }

    }

    .btn-acervo-filters.active {
      color: $vermelho;
    }
  }

  .results {

    h4 {
      font-size: 14px;
    }
  }


  .picture {

  }


  .internalwhite {
    margin-top: 0;
    padding: 0;
  }

  .results .list-alphabet {
    display: none;
  }

  .item-article .catlist {
    //bottom: -55px;
  }


 .item-article .hidden-photos {
    display: none;

    .smallpics {
      margin-top: 10px;
      display: inline-block;
      padding: 0;
      text-align: center;


      div {
        float: left;
        margin-right: 7px;
        margin-bottom: 7px;

        img {
          width: 100%;
        }

        &:nth-child(4n+0) {
          margin-right: 7px;
        }
        &:nth-child(5n+0) {
          margin-right: 0px;
        }

      }
    }
  }


  // OBSERVATORIO

  .observatorios-banner-interno {
    height: 325px;
  }

  .observatoriocontent .col-bege {
    background: transparent;
  }


  .observatorios-banner-interno h2 {
    font-size: 28pt;
    padding-top: 120px;
  }

  .observatoriocontent {
    margin-top: -15px;

    .box-obser {
      min-height: 100px;
      padding: 35px 5px 45px;

    }
  }

  .observatorio-bottom-open {
    margin-top: -80px;
    background-size: 1350px;
    padding: 60px 0 30px;
    height: 190px;
    font-size: 12pt;

    p {
      margin-top: 10px;
    }
  }

  .observatorio-bottom-open-analise {
    margin-top: -40px;
    background-size: 1350px;
    padding-top: 70px;
    background-position: center bottom;
    height: 180px;
  }

  .observatoriocontent {
    margin-top: -30;
  }

  .observatoriocontent .box-obser-2 {
    padding: 25px;
    margin-bottom: 25px;
  }

  .btn-plus {
    height: 20px;
    margin-bottom: 10px;
  }


  .observatorio-interna-bottom-open {
    padding: 20px 0;
      background: url("../images/observatorios/mid-banner-interna.svg");
      background-repeat: repeat-x;
      background-size: 1350px;
      height: auto;
      position: relative;
      background-position: center bottom;
      margin-top: 0px;
      z-index: 999;
      font-size: 13pt;
      font-weight: 300;

      .btn-down {

        position: relative;
        z-index: 99;
      }

      h2 {
        font-size: 22pt;
        margin-top: 15px;
      }

      p {
        font-size: 13px;

      }
  }

  .obser-interna-content .sidebar-interna .box-side-bottom {
    max-height: 290px;
    position: relative;
  }

  #sliderinterno {
    max-height: 290px;
  }

  // OBRAS


  .obser-interna-content {
    padding: 80px 0 0;
    margin-top: -60px;

    .interna-content {

      .interna-subcontent {
        padding: 15px;
        background: #ebe7dd;



      }

      hr {
        border-color: #ffffff;
      }

    }
  }

  // OBRAS E INTERNAS

  .map-options {
    left: -350px;
    width: 200px;
    padding: 0 10px;

    .box-scroll {
      padding: 5px 0 0;

      ul li a {
        padding: 10px 0;
        font-size: 15px;
      }
    }
  }

  .map-options {


    .styled-select {
      margin-top: 25px;
    }
  }

  .map-options .styled-select.slate {
    background-position-y: bottom;
  }

  .map-options .styled-select.slate select {
    font-size: 9px;
    height: 34px;
    width: 100%;
    text-align: center;
    padding: 0 0 0 25px;
    margin-top: 10px;

  }

  .map-legendas {
    width: 46px;
  }


  .obser-interna-content .sidebar-interna .box-side-bottom .carousel-control.left {
      bottom: 20px;
  }

  .obser-interna-content .sidebar-interna .box-side-bottom .carousel-control.right {
    bottom: 20px;
  }

  .obser-interna-content .sidebar-interna .box-side-bottom .zoom-btn {
    bottom: 30px;
  }

  .obser-interna-content .sidebar-interna .box-side-topo {

    .top {
      font-size: 12px;
      padding: 10px;
    }

    .bottom {
      font-size: 16px;
    }

  }

  // historia



  .open-historia h1 {
    font-size: 23pt;
    font-weight: 300;
    margin-top: 24px;
  }

  .content-historia aside {
    display: none;
  }

  .content-historia .content-side {
    width: 100%;
    float: none;
    border-left: 0;
  }

  .content-historia {
    .container {
      padding: 0;
    }
  }

  .content-side .banner-history-title .sect-title {
    position: relative;

    h2 {
      margin-top: 0;

    }

    h4 {
      margin-bottom: 15px;

      br {
        display: none;
      }
    }
  }

  .content-side .banner-history-frase {
    font-size: 15px;
  }

  .history-photos {
    li {
      margin-bottom: 15px;
    }
  }

  // historia


  .mobile-list-historia {
    display: block;

  }

  .open-historia {
    background : #393b3d;
    //background : url("../images/historia/bg-history.png")repeat-x center center ;
    color: #fff;
    padding: 10px 0;
    margin-top: -13px;
    position: relative;
    z-index: 8;

  }


  .item-article .hidden-text {
    margin-bottom: 0;
  }

  .item-article .catlist {
    position: relative;
  }




}

@media (max-width: 390px){
  .obser-interna-content .sidebar-interna .box-side-topo .top {
    height: 53px;
  }
  .box-blocks {
    width: 109%;
  }
}

@media (max-width: 320px) {


  .mbfiltros {
    background: url("../images/mobilemenu/filtros.svg");
    background-position: center bottom;
    background-size: 100%;
  }

  .mbobras {
    background: url("../images/mobilemenu/obras.svg");
    background-position: center bottom;
    background-size: 100%;
  }

  .mbacompanhe {
    background: url("../images/mobilemenu/acompanhe.svg");
    background-position: center bottom;
    background-size: 100%;
  }

  .mbalerte {
    background: url("../images/mobilemenu/alerte.svg");
    background-position: center bottom;
    background-size: 100%;
  }

  .mbmais {
    background: url("../images/mobilemenu/mais.svg");
    background-position: center bottom;
    background-size: 100%;
  }




}

@media (max-width: 370px) {
  .btn-mobile-button {
    height: 65px;
  }
}

@media (max-width: 320px) {
  .btn-mobile-button {
    height: 56px;
  }
}

/* TAMANHOS MAPA */

@media (min-width: 240px) {
  #map {
    width: 100%;
    height: 450px;
  }
}


@media (min-width: 360px) {
  #map {
    height: 495px;
  }
}

@media (min-width: 390px) {
  #map {
    height: 560px;
  }
}

@media (min-width: 800px) {
  #map {
    height: 730px;
  }
}


.btn-up-scroll-full {
  position: fixed;
  top: 0%;
  right: 1%;
  z-index: 9999999;
  display: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $vermelho;
}

